<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Home Page</title>
</head>

<body>
    <!-- nav -->
    <%- include('../partials/nav.ejs') %>
        <h3>Welcome</h3>
        <p>Click the username for more information </p>
        <!-- displaying all the users with schedules -->
        
        <main>
        <table class="table userTable">
            <thead>
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Day</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user=> { %>
        
                    <tr>
                        <td>                      
                            <%= user.users_id %>
                        
                        </td>
                        <td>
                            <a href="/user/<%= user.users_id %>" style="text-decoration:none; color: black;">
                            <%= user.firstname %>
                        </a>
                        </td>
                        <td>
                            <%= user.day %>
                                </td>
                                <td>
                            <%= user.start_time %>
                        </td>
                        <td>
                            <%= user.end_time %>
                        </td>
                    </tr>
                    <% }) %>
                 </tbody>
        </table>
    </main>
        
        <!-- footer -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>