<!doctype html>
<html lang="en">
<%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="bg-image"></div>
        <h2>Please Enter Schedule data</h2>
        <!-- erroe message display -->
        <% if (typeof message !=='undefined' ) { %>
            <h2 style="color: red">
                <%= message %>
            </h2>
            <% } %>
            <!-- Schedule form -->
            <main>
            <div id="formDiv">
                <form id="form-style" method="POST" action="/schedules">
                
                    <div class="mb-3">
                        <label for="day" class="form-label">Day</label>
                        <select class="form-select" aria-label="Default select example" id="day" name="day" required>
                            
                            <option value="1">Sunday</option>
                            <option value="2">Monday</option>
                            <option value="3">Tuesday</option>
                            <option value="4">Wednesday</option>
                            <option value="5">Thursday</option>
                            <option value="6">Friday</option>
                            <option value="7">Saturday</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="start_time" class="form-label">Start Time</label>
                        <input type="time" class="form-control" id="start_time" name="start_time" min="07:00" max="19:00" required>
                    </div>
                    <div class="mb-3">
                        <label for="end_time" class="form-label">End Time</label>
                        <input type="Time" class="form-control" id="end_time" name="end_time" min="07:00" max="19:00" required>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn" id="schBtn" style="background-color: rgb(78, 78, 138); color: white;">Submit</button>
                    </div>
                </form>
            </div>
            <h3>Your schedules</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% newSchedule.forEach(newSchedule=> { %>
                    <div class="col">
                        <div class="card" style="background-color: rgb(78, 78, 138); color: white;">
                            <div class="card-body">
                                <p> Day: <%= newSchedule.day %>
                                </p>
                                <p> Start Time: <%= newSchedule.start_time %>
                                </p>
                                <p> End Time: <%= newSchedule.end_time %>
                                </p>
                            </div>
                        </div>
                    </div>
        <% }) %>
    </main>
            <%- include('../partials/footer.ejs') %>
    </div>
    </body>
</html>