<!DOCTYPE html>
<html lang="en">

<head>
    <!-- adding head data from head -->
    <%- include('../partials/head.ejs') %>
        <title>User Details</title>
</head>

<body>
    <!-- adding nav bar -->
    <%- include('../partials/nav.ejs') %>
    <header>
        <h1 class="text-center m-3">User Details of <%= user.firstname.charAt(0).toUpperCase() + user.firstname.slice(1) %>
        </h1>
    </header>
    <main>
        <div class="card border-primary userCard mt-5 mb-5">
            <div class="card-body">
                <p>First Name: <%= user.firstname %>
                </p>
                <p>Last Name: <%= user.lastname %>
                </p>
                <p>Email: <%= user.email %>
                </p>
            </div>
        </div>
    </main>
        <!-- including footer -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>