<!DOCTYPE html>
<html lang="en">

<head>
    <!-- adding head data from head -->
    <%- include('../partials/head.ejs') %>
        <title>User Details</title>
</head>

<body>
    <!-- adding nav bar -->
    <%- include('../partials/nav.ejs') %>
        <h1>User Details of <%= user.firstname %>
        </h1>
        <div class="card border-primary userCard">
            <div class="card-body">
                <p>First Name: <%= user.firstname %>
                </p>
                <p>Last Name: <%= user.lastname %>
                </p>
                <p>Email: <%= user.email %>
                </p>
            </div>
        </div>


        <!-- including footer -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>